<p>Hello, <%= @policy.primary_user.profile.full_name %></p>
<p>Your policy submission has been received.
  We are in the process of reviewing your policy to verify it meets
  your management company’s insurance requirements. If further information is needed we will contact you. </p>
<p>Please reach out if you have any questions. Enjoy your day!</p>