export APP_VERSION="2.0.0/development"
export AWS_ACCESS_KEY_ID="AKIAIMNRSOQ3TQ66I5HA"
export AWS_BUCKET_NAME="gc-public-dev"
export AWS_PRIVATE_BUCKET_NAME="gc-private-dev"
export AWS_REGION="us-west-2"
export AWS_SECRET_ACCESS_KEY="0uFjh7zTuG+yBnJ0DrrhL6DTlxlfyICIQTDffdeW"
export JOB_WORKER_PORT="6379"
export JOB_WORKER_URL="redis"
export RACK_ENV="local"
export RAILS_ENV="local"
export SECRET_KEY="sk_test_IBSW1QDuu306wJQCUQkattsa"
export SECRET_KEY_BASE="28d1cc5245c11c07303b649ffc19b943eaff3b7ba819080514fb035650ebc4988ddfa9f126101db9ecf9f5338001a77999088a5a19872d2441be67f882707f17"
export PRODUCTION_VERSION="DEV"
export PUBLISHABLE_KEY="pk_test_EfYPHgUKyZYzJjWegJmBr2DR"
export PHYSICAL_ADDRESS="265 Canal St #205 NY NY 10013"
export NEW_RELIC_ID="Localhost Dev"
