<p style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em;">
  <span style="font-size: 16px;"><%= raw(@content) %></span>
</p>
<p style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em;">
  <span style="font-size: 16px;">Thank you,<br> <%= @pm_account.title %> & Get Covered<br>
    <a href="mailto:<%= @from %>"><%= @from %></a></span>
</p>