<p>Dear <%= @user.profile.first_name %>,</p>
<p>Thank you for using the Get Covered Pay.</p>
<p>According to our records, a credit card that you have listed with the GCpay service will soon expire.</p>
<p>Please login to GCpay  at the link below to update your credit card information to avoid interruption of coverage.</p>
<p><a href="https://www.getcoveredinsurance.com/user/payment-methods">https://www.getcoveredinsurance.com/user/payment-methods</a></p>
<p>Feel free to contact us at the following link if you have any questions.</p>
<p>Thank you again for using GCpay.</p>
