<td class="o_bg-white o_px-md o_py-md o_sans o_text o_text-secondary" align="left" style="font-family: Helvetica, Arial, sans-serif;margin-top: 0px;margin-bottom: 0px;font-size: 16px;line-height: 24px;background-color: #ffffff;color: #424651;padding-left: 24px;padding-right: 24px;padding-top: 24px;padding-bottom: 24px;">
  <div style="font-size: 24px; line-height: 24px; height: 24px;">&nbsp; </div>
  <p class="o_mb-xs" style="margin-top: 0px;margin-bottom: 8px;">Dear <%= @user.profile.first_name %>,</p>
  <p class="o_mb-xs" style="margin-top: 0px;margin-bottom: 8px;">Thank you for using the Get Covered Pay. According to our records,
    a credit card that you have listed with the GCpay service will soon expire.
    Please login to GCpay  at the link below to update your credit card information
    to avoid interruption of coverage <a href="https://www.getcoveredinsurance.com/user/payment-methods">https://www.getcoveredinsurance.com/user/payment-methods</a>
  </p>
  <p class="o_mb-xs" style="margin-top: 0px;margin-bottom: 8px;">Feel free to contact us at the following link if you have any questions.</p>
  <p class="o_mb-xs" style="margin-top: 0px;margin-bottom: 8px;">Thank you again for using GCpay.</p>
  <div style="font-size: 16px; line-height: 16px; height: 16px;">&nbsp; </div>
</td>
