<p><%=

  I18n.t('invoice_mailer.invoice_missed.body',
    recipient_name: @user.profile.full_name,
    product_type: @product_type,
    product_identifier: @product_identifier,
    agency_title: @agency.title,
    url: '<a href="https://www.getcoveredinsurance.com/user/payment-methods">https://www.getcoveredinsurance.com/user/payment-methods</a>',
    support_email: "support@getcoveredinsurance.com"
  ).split('\n').join("</p><p>")

%></p>
