<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=595">
  <!-- template CSS -->
  <style>
      @charset "UTF-8";

      a,
      abbr,
      acronym,
      address,
      applet,
      article,
      aside,
      audio,
      b,
      big,
      blockquote,
      body,
      canvas,
      caption,
      center,
      cite,
      code,
      dd,
      del,
      details,
      dfn,
      div,
      dl,
      dt,
      em,
      embed,
      fieldset,
      figcaption,
      figure,
      footer,
      form,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      header,
      hgroup,
      html,
      i,
      iframe,
      img,
      ins,
      kbd,
      label,
      legend,
      li,
      mark,
      menu,
      nav,
      object,
      ol,
      output,
      p,
      pre,
      q,
      ruby,
      s,
      samp,
      section,
      small,
      span,
      strike,
      strong,
      sub,
      summary,
      sup,
      table,
      tbody,
      td,
      tfoot,
      th,
      thead,
      time,
      tr,
      tt,
      u,
      ul,
      var,
      video {
          margin: 0;
          padding: 0;
          border: 0;
          font-size: 100%;
          font: inherit;
          vertical-align: baseline
      }

      :focus {
          outline: 0
      }

      article,
      aside,
      details,
      figcaption,
      figure,
      footer,
      header,
      hgroup,
      menu,
      nav,
      section {
          display: block
      }

      body {
          line-height: 1
      }

      ol,
      ul {
          list-style: none
      }

      blockquote,
      q {
          quotes: none
      }

      blockquote:after,
      blockquote:before,
      q:after,
      q:before {
          content: '';
          content: none
      }

      table {
          border-collapse: collapse;
          border-spacing: 0
      }

      input[type=search]::-webkit-search-cancel-button,
      input[type=search]::-webkit-search-decoration,
      input[type=search]::-webkit-search-results-button,
      input[type=search]::-webkit-search-results-decoration {
          -webkit-appearance: none;
          -moz-appearance: none
      }

      input[type=search] {
          -webkit-appearance: none;
          -moz-appearance: none;
          -webkit-box-sizing: content-box;
          -moz-box-sizing: content-box;
          box-sizing: content-box
      }

      textarea {
          overflow: auto;
          vertical-align: top;
          resize: vertical
      }

      audio,
      canvas,
      video {
          display: inline-block;
          max-width: 100%
      }

      audio:not([controls]) {
          display: none;
          height: 0
      }

      [hidden] {
          display: none
      }

      html {
          font-size: 100%;
          -webkit-text-size-adjust: 100%;
          -ms-text-size-adjust: 100%
      }

      a:focus {
          outline: thin dotted
      }

      a:active,
      a:hover {
          outline: 0
      }

      img {
          border: 0;
          -ms-interpolation-mode: bicubic
      }

      figure {
          margin: 0
      }

      form {
          margin: 0
      }

      fieldset {
          border: 1px solid silver;
          margin: 0 2px;
          padding: .35em .625em .75em
      }

      legend {
          border: 0;
          padding: 0;
          white-space: normal
      }

      button,
      input,
      select,
      textarea {
          font-size: 100%;
          margin: 0;
          vertical-align: baseline
      }

      button,
      input {
          line-height: normal
      }

      button,
      select {
          text-transform: none
      }

      button,
      html input[type=button],
      input[type=reset],
      input[type=submit] {
          -webkit-appearance: button;
          cursor: pointer
      }

      button[disabled],
      html input[disabled] {
          cursor: default
      }

      input[type=checkbox],
      input[type=radio] {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          padding: 0
      }

      input[type=search] {
          -webkit-appearance: textfield;
          -moz-box-sizing: content-box;
          -webkit-box-sizing: content-box;
          box-sizing: content-box
      }

      input[type=search]::-webkit-search-cancel-button,
      input[type=search]::-webkit-search-decoration {
          -webkit-appearance: none
      }

      button::-moz-focus-inner,
      input::-moz-focus-inner {
          border: 0;
          padding: 0
      }

      textarea {
          overflow: auto;
          vertical-align: top
      }

      table {
          font-size: 0.5rem !important;
          border-collapse: collapse;
          border-spacing: 0
      }

      button,
      html,
      input,
      select,
      textarea {
          color: #222
      }

      ::-moz-selection {
          background: #b3d4fc;
          text-shadow: none
      }

      ::selection {
          background: #b3d4fc;
          text-shadow: none
      }

      img {
          vertical-align: middle
      }

      fieldset {
          border: 0;
          margin: 0;
          padding: 0
      }

      textarea {
          resize: vertical
      }

      .chromeframe {
          margin: .2em 0;
          background: #ccc;
          color: #000;
          padding: .2em 0
      }

      :root {
          font-size: 36px
      }

      html {
          scroll-behavior: smooth;
          font-family: sans-serif;
          line-height: 1.15;
          -webkit-text-size-adjust: 100%;
          -webkit-tap-highlight-color: transparent
      }

      *,
      ::after,
      ::before {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box
      }

      body {
          background-color: #fff;
          line-height: 1.5;
          font-weight: 400;
          color: #3c3d3e;
          font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
          font-size: 36px
      }

      h1 {
          font-size: 30px;
          color: #009983;
          margin: 0;
          padding: 0;
          margin-bottom: 48px;
          font-weight: 400
      }

      h2 {
          font-size: 26px;
          color: #009983;
          margin: 0;
          padding: 0
      }

      h3 {
          font-size: 20px;
          color: #009983;
          margin: 0;
          padding: 0
      }

      h4 {
          font-size: 14px;
          color: #009983;
          margin: 0;
          padding: 0
      }

      h5 {
          font-size: 12px;
          color: #009983;
          margin: 0;
          padding: 0
      }

      p {
          font-size: 14px;
          margin: 0;
          margin-bottom: 15px;
          color: #3c3d3e
      }

      p strong {
          font-weight: 700
      }

      .main-content {
          font-size: 0.5rem !important;
          max-width: 500px;
          width: 100%;
          margin: 0 0 0 0;
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          padding: 10px 0
      }

      a {
          color: #009983;
          text-decoration: none
      }

      a:hover,
      afocus {
          text-decoration: none;
          color: #333
      }

      .left-panel {
          -webkit-box-flex: 0;
          -webkit-flex: 0 0 75px;
          -moz-box-flex: 0;
          -ms-flex: 0 0 75px;
          flex: 0 0 75px;
          max-width: 75px
      }

      .left-panel figure {
          margin: 0;
          padding: 0;
          text-align: center;
          position: relative
      }

      .left-panel figure img {
          width: 70px;
          height: auto;
          margin-right: 40px;
      }

      .right-panel {
          -webkit-box-flex: 0;
          -webkit-flex: 0 0 calc(100% - 100px);
          -moz-box-flex: 0;
          -ms-flex: 0 0 calc(100% - 100px);
          flex: 0 0 calc(100% - 100px);
          max-width: calc(100% - 100px);
          border-left: solid 1px #009983;
          padding: 0 10px 0px 10px;
          margin-left: 10px;
      }

      .number-counter {
          padding-left: 75px;
          position: relative
      }

      .number-counter span {
          position: absolute;
          left: 0;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%)
      }

      .mar-bot-25 {
          margin-bottom: 25px
      }

      .root-list {
          margin: 0;
          padding: 0;
          margin-left: 14px;
          list-style-type: none;
          position: relative;
          padding-left: 34px
      }

      .root-list span {
          position: absolute;
          left: 0;
          top: 0
      }

      ul.parent-list {
          margin: 0;
          padding: 0;
          list-style-type: none;
          counter-reset: my-sec-counter;
          margin-left: 54px
      }

      ul.parent-list > li {
          counter-increment: my-sec-counter;
          position: relative;
          padding-left: 38px
      }

      ul.parent-list > li:before {
          content: "(" counter(my-sec-counter) ")";
          position: absolute;
          left: 0;
          top: 0
      }

      ol.inner-list-top {
          margin: 0;
          padding: 0;
          list-style-type: none;
          counter-reset: abc-counter
      }

      ol.inner-list-top > li {
          counter-increment: abc-counter;
          position: relative;
          padding-left: 38px
      }

      ol.inner-list-top > li:before {
          content: "(" counter(abc-counter, lower-alpha) ")";
          position: absolute;
          left: 0;
          top: 0
      }

      ul.inner-list-top2 {
          margin: 0;
          padding: 0;
          list-style-type: none;
          counter-reset: abc-counter2;
          margin-left: 20px
      }

      ul.inner-list-top2 > li {
          counter-increment: abc-counter2;
          position: relative;
          padding-left: 20px
      }

      ul.inner-list-top2 > li:before {
          content: counter(abc-counter2, lower-alpha) ".";
          position: absolute;
          left: 0;
          top: 0
      }

      .bottom-end {
          padding-top: 60px;
          padding-bottom: 60px
      }

      .footer-end-box {
          max-width: 240px;
          border-top: solid 1px #000;
          padding-top: 5px
      }

      .footer-end-box p {
          margin-bottom: 3px
      }

      img {
          border: 0;
          outline: 0
      }

      .table-data {
          padding: 40px 0
      }

      .table-data table {
          width: 100%;
          max-width: 100%;
          margin-bottom: 1rem;
          background-color: transparent;
          border-collapse: collapse;
          border: solid 1px #009983
      }

      .table-data table thead {
          background-color: #009983
      }

      .table-data table tr td,
      .table-data table tr th {
          padding: .75rem;
          min-height: 46px;
          vertical-align: top;
          text-align: center;
          color: #fff;
          vertical-align: middle;
          border-top: 1px solid #009983
      }

      .table-data table tr td {
          color: #333;
          border-right: solid 1px #009983
      }

      .table-data table tr td:last-child {
          border-right: transparent
      }

      .table-data table tr th {
          background-color: #009983;
          border-left: solid 1px transparent
      }

      .table-data table tr th + th {
          border-left: solid 1px #fff
      }

      .table-data2 {
          padding: 20px 0
      }

      .table-data2 table {
          width: 100%;
          max-width: 100%;
          margin-bottom: 1rem;
          background-color: transparent;
          border-collapse: collapse;
          border: solid 1px #000
      }

      .table-data2 table thead {
          background-color: #009983
      }

      .table-data2 table tr td,
      .table-data2 table tr th {
          padding: .75rem;
          min-height: 46px;
          vertical-align: top;
          text-align: center;
          color: #fff;
          vertical-align: top;
          border-top: 1px solid #009983
      }

      .table-data2 table tr td {
          color: #333;
          border-right: solid 1px #000;
          text-align: left
      }

      .table-data2 table tr td:last-child {
          border-right: transparent
      }

      .table-data2 table tr th {
          background-color: #009983;
          border-left: solid 1px #000;
          vertical-align: middle
      }

      .table-data2 table tr th + th {
          border-left: solid 1px #000
      }

      .table-data2 .bder-bot {
          border-bottom: solid 1px #000;
          border-top: solid 1px #000
      }

      .table-data2 sup {
          font-size: 11px;
          position: relative;
          top: -8px
      }

      p sup {
          font-size: 11px;
          position: relative;
          top: -8px
      }

      .text-justify p {
          text-align: justify
      }

      ul.list-arrow {
          margin: 10px 0;
          padding: 0;
          list-style-type: none;
          margin-left: 20px;
          padding-bottom: 8px
      }

      ul.list-arrow li {
          position: relative;
          padding-left: 20px
      }

      ul.list-arrow li p {
          margin-bottom: 5px
      }

      ul.list-arrow li:before {
          content: "›";
          position: absolute;
          left: 0;
          top: 0
      }

      .address-box {
          margin-bottom: 15px;
          padding: 5px 0
      }

      .address-box .address-inner {
          padding-left: 14px;
          border-left: solid 2px #e8e8e8
      }

      ul.parent-list-2 {
          margin: 0;
          padding: 0;
          list-style-type: none;
          counter-reset: alphacounter;
          margin-left: 54px
      }

      ul.parent-list-2 > li {
          counter-increment: alphacounter;
          position: relative;
          padding-left: 38px
      }

      ul.parent-list-2 > li:before {
          content: counter(alphacounter, lower-alpha) ".";
          position: absolute;
          left: 0;
          top: 0
      }

      ol.romancount {
          margin: 0;
          padding: 0;
          list-style-type: none;
          counter-reset: abc-counter
      }

      ol.romancount > li {
          counter-increment: abc-counter;
          position: relative;
          padding-left: 38px
      }

      ol.romancount > li:before {
          content: counter(abc-counter, lower-roman) ".";
          position: absolute;
          left: 0;
          top: 0
      }

      .bold-it {
          font-weight: 700;
          font-style: italic;
          text-decoration: underline
      }

      table tr th,
      table tr td {
          font-size: 0.5rem;
      }

      @media print {

          h1,
          h2,
          h3,
          h4,
          h5 {
              page-break-after: avoid
          }

          figure,
          table {
              page-break-inside: avoid
          }

          .normal-brand {
              -webkit-filter: grayscale(100%);
              filter: grayscale(100%);
              border: 0;
              outline: 0
          }

          .table-data,
          .table-data2 {
              padding: 20px 0
          }

          .table-data table,
          .table-data2 table {
              width: 100%;
              max-width: 100%;
              margin-bottom: 1rem;
              background-color: transparent;
              border-collapse: collapse;
              border: solid 1px #000
          }

          .table-data table thead,
          .table-data2 table thead {
              background-color: transparent
          }

          .table-data table tr td,
          .table-data table tr th,
          .table-data2 table tr td,
          .table-data2 table tr th {
              padding: .75rem;
              min-height: 46px;
              vertical-align: top;
              text-align: center;
              color: #333;
              vertical-align: middle;
              border-top: 1px solid #000
          }

          .table-data table tr td,
          .table-data2 table tr td {
              color: #333;
              border-right: solid 1px #000
          }

          .table-data table tr td:last-child,
          .table-data2 table tr td:last-child {
              border-right: transparent
          }

          .table-data table tr th,
          .table-data2 table tr th {
              background-color: transparent;
              border-left: solid 1px #000
          }

          .table-data table tr th + th,
          .table-data2 table tr th + th {
              border-left: solid 1px #000
          }
      }

      .page-break {
          display: block;
          clear: both;
          page-break-after: always;
      }
  </style>
  <title>Pensio Tenants Rent Guarantee Summary Exhibit B – Pensio Tenants Rent Guarantee Agreement</title>
</head>
<body>

<div class="main-content ">
  <div class="left-panel">
    <figure>
      <img src="https://gc-public-prod.s3-us-west-2.amazonaws.com/images/pensio-brand.png" alt="" class="normal-brand">
    </figure>
  </div>

  <div class="right-panel text-justify">
    <h1 style="margin-bottom: 0">ExhibitA – Lease Co-Guarantee Summary</h1>
    <h1 style="color: unset; border-bottom: 1px solid black;">Lease Co-Guarantee Agreement – Terms and Conditions</h1>

    <h2 class="mar-bot-25">Making a Claim for Rent to be Paid by Us to Your Landlord</h2>
    <p>Managing General Agent, Licensed Broker and Claims Administrator:<br>
      World Insurance Associates LLC, 656 Shrewsbury Avenue, Suite 200, Tinton Falls, NJ 07701;
      <a href="mailto:rentpaid@worldins.net">rentpaid@worldins.net</a>; <a href="www.worldins.net">www.worldins.net</a>;
      telephone <a href="tel:+18888910051">+1 (888) 891-0051</a></p>
    <p>For all Your inquiries or for You to make a Lease Co-Guarantee claim, contact the Adminstrator.</p>
    <p>Lease Co-Guarantee terms and conditons as follows:</p>

    <h2 class="mar-bot-25">Involuntary Loss of Employment Claim - Rent to be Paid by Us to Your Landlord</h2>
    <p>For Pensio Tenants (i) who are in good standing pursuant to their residential lease agreement; (ii) who were
      employed at the time of registration; and (iii) remained employed for a minimum of sixty
      (60) days after registration, Pensio Tenants will pay Your rent for up to
      <%= @policy.policy_application&.fields&.[]('guarantee_option') %> months to Your landlord if You:
    </p>
    <ul class="parent-list-2">
      <li><p>involuntarily lost Your employment and are eligible to collect unemployment insurance following
        termination of employment from the state in which you reside.</p></li>
      <li><p>have a Record of Employment and/or a notice of unemployment directly from their former employer that
        clearly indicates the cause of loss of employment, confirming you have worked a minimum of an average of 24
        hours per week for the past 26 weeks prior to involuntary job loss, and clearly indicates the date of
        unemployment/dismissal; and</p>
      </li>
      <li>
        <p>remain unemployed.</p>
      </li>
    </ul>

    <h2 class="mar-bot-25">Unknown Disability Unable to Work Claim - Rent to be Paid by Us to Your Landlord</h2>
    <p>For Pensio Tenants (i) who are in good standing pursuant to their residential lease agreement; (ii) who at the
      time of registration did not have a pre-existing Disability; (iii) remained employed for a minimum of sixty
      (60) days after registration; and (iv) have been diagnosed with a Disability not allowing You to be employed,
      Pensio Tenants will pay Your rent for up to <%= @policy.policy_application&.fields&.[]('guarantee_option') %> months to Your landlord if: </p>
    <ul class="parent-list-2">
      <li>
        <p>Your disability is certified by a Doctor or a Physician confirming You are unable to continue working in Your
          current employment; and</p></li>
      <li><p>You have a Record of Employment directly from Your employer that clearly indicates
        the disability is impeding your ability to work and cannot continue employment for the duties and
        responsibilities for which you have been employed.</p></li>
    </ul>

    <h2 class="mar-bot-25">When Pensio Tenants will not pay Rent to Your Landlord</h2>
    <p>Pensio Tenants will not pay any Involuntary Loss of Employment Rent Payment to Your Landlord in the event:</p>
    <ul class="parent-list-2">
      <li><p>You do not have a legal and valid lease agreement;</p></li>
      <li><p>You voluntarily left your employment;</p></li>
      <li><p>You do not have a record of employment;</p></li>
      <li><p>You do not qualify for government unemployment insurance benefits;</p></li>
      <li><p>You are seasonally employed;</p></li>
      <li><p>You are self-employed and have not provided a verifiable services contract for the full
        12 month term of your Lease Co-Guarantee Agreement and proof of payment made by each client for the past 12
        months; or</p></li>
      <li><p>During the period the federal, state, county, city or municipal government have enacted stay in place
        orders, mandated business closures restricting employment, suspended evictions, suspended payment of
        rent, or has declared a State of Emergency.</p></li>
    </ul>
    <br>
    <p>Pensio Tenants will not pay the Disability unable to Work Rent Payment to Your Landlord in the event:</p>
    <ul class="parent-list-2">
      <li><p>You have been disabled from the same, similar, or a related condition at any point within the twelve (12)
        months prior to the date of Your registration;</p></li>
      <li><p>Intentional or self-inflicted harm, or from the cause of Your own improper unlawful action;</p></li>
      <li><p>Childbirth;</p></li>
      <li><p>Cosmetic or elective surgery; or</p></li>
      <li><p>From an illness related to a global pandemic or stated epidemic announced by the World Health
        Organization.</p></li>
    </ul>
    <p>Pensio Tenants will not pay a Rent to Your Landlord due to a material omission, misrepresentation or in the event
      of fraud by You or the Landlord.</p>
    <br>
    <h1 class="mar-bot-25">Eligibility Provisions</h1>
    <p>You must be the primary tenant and guarantor listed on the lease agreement and You must be living full time in
      the rental unit. </p>
    <p>Clerical error on the part of Pensio Tenants or the Administrator in maintaining records in connection with this
      Lease Co-Guarantee shall not invalidate Your Lease Co-Guarantees in force.</p>
    <br>
    <h2 class="mar-bot-25">Effective Date of Your Lease Co-Guarantee to Pay Rent To Your Landlord:</h2>
    <p>For You when Registered into the Pensio Tenants effective on the later of: </p>
    <ul class="parent-list-2">
      <li>Date of registration; and</li>
      <li>Payment of Your initial Lease Co-Guarantee Fee.</li>
    </ul>
    <br>
    <h1 class="mar-bot-25">Claim Provisions</h1>
    <p>Should a legal disagreement occur between Pensio Tenants, You or the Landlord, the Rent Payment to Your Landlord
      proceeds shall be paid into court.</p>
    <br>
    <h2 class="mar-bot-25">Notice and Proof of Claim</h2>
    <p>In the event of Job Loss or Disability Lease Co-Guarantee Claim:</p>
    <ul class="parent-list-2">
      <li><p>You must notify the Administrator of the Loss of Employment or Disability within thirty (30) days of the
        occurrence; and</p></li>
      <li><p>You must provide to the Administrator with Proof of Your claim when requested by
        the Administrator within ninety (90) days from involuntary job loss or disability. You must provide:</p></li>
      <ul style="list-style: lower-roman">
        <li><p>a copy of Your Lease Agreement along with contact information for Your Landlord;</p></li>
        <li><p>two pieces of government Identification;</p></li>
        <li><p>record of employment;</p></li>
        <li><p>a copy of your government unemployment insurance benefits, if applicable;</p></li>
        <li><p>a copy of Your Employment status Letter at the time of Registration pursuant to the Lease Co-Guarantee
          Agreement;</p></li>
        <li><p>a copy of your verifiable self-employment services contract for the full 12 month term of the Lease
          Co-Guarantee Agreement and proof of payment made by each client for the past 12 months, if applicable;</p>
        </li>
        <li><p>Attending Physician’s Statement stating Your disability diagnosis and reasons why You are unable to be
          Employed, if applicable; and</p></li>
        <li><p>A copy of Your Government and Private Insurance Health Cards, if applicable.</p></li>
      </ul>
    </ul>
    <h2 class="mar-bot-25">Failure to Give Notice of Proof</h2>
    <p>Failure to give notice of claim or furnish proof of claim within the time prescribed will not invalidate the
      claim if the notice or proof is given or furnished as soon as reasonably possible and if it is shown that it
      was not reasonably possible to give notice or furnish proof within the time so prescribed. In no event will
      the Administrator accept notice of claim more than one (1) year after the first date of the Claimed Loss.</p>
    <br>

    <h2 class="mar-bot-25">When Rent Monies Are Payable to Your Landlord</h2>
    <p>Pursuant to the terms of the Agreement and this Lease Co-Guarantee Summary, all monies payable
      under this contract shall be paid only to Your landlord within thirty (30) days notice by You
      to the Administrator of Your Claim, and Proof of Claim documents are provided to the Administrator.</p>
    <br>

    <h2 class="mar-bot-25">Recovery of Rent Paid to Your Landlord Overpayment</h2>
    <p>Pensio Tenants reserves the right to recover any payment that was:</p>
    <ul class="parent-list-2">
      <li><p>made in error;</p></li>
      <li><p>made to the incorrect person or entity; or</p></li>
      <li><p>made in excess of the rent payable pursuant to Your lease agreement.</p></li>
    </ul>

    <br>
    <h1 class="mar-bot-25">General Provisions</h1>
    <h2 class="mar-bot-25">Waiver</h2>
    <p>Pensio Tenants shall be deemed not to have waived any condition of the Lease Co-Guarantee Agreement
      and this Lease Co-Guarantee Summary, either in whole or in part, unless the waiver is clearly expressed
      in writing signed by the Administrator. </p>

    <h2 class="mar-bot-25">Assignment of Rent Payment</h2>
    <p>Rent payments payable by Pensio Tenants cannot be assigned to anyone other than Your named Landlord
      pursuant to Your current and legally valid lease agreement.</p>

    <h2 class="mar-bot-25">Conformity with Statutes</h2>
    <p>Any provision of the Lease Co-Guarantee which is in conflict with the statutes of the state or county in
      which the Lease Co-Guarantee is delivered, is hereby amended to conform to the minimum requirements
      of such state or county. The Lease Co-Guarantee does not apply to the extent that trade or economic sanctions
      or other laws or regulations prohibit us from providing Lease Co-Guarantees contained herein including,
      but not limited to, the payment of Rent to Your Landlord. All other terms and conditions of the Lease Co-Guarantee
      remain unchanged.</p>

    <h2 class="mar-bot-25">Confidentiality</h2>
    <p>In conjunction with the administration of this Lease Co-Guarantee, the Administrator will establish a client
      file when the Administrator is notified of such a claim by You.</p>
    <p>To ensure the confidentiality of Your personal information, the Administrator will keep Your file(s) at the at
      the Administrator offices and only the following persons having access to Your file are: </p>
    <ul class="parent-list-2">
      <li><p>the employees of Pensio Tenants;</p></li>
      <li><p>the employees of the Administrator; and</p></li>
      <li><p>any person You authorize in writing to the Administrator.</p></li>
    </ul>

    <h2 class="mar-bot-25">Privacy Matters</h2>
    <p>The Administrator is committed to protecting Your privacy.</p>
    <p>You may request to review the personal information in Your file or request to make a correction by writing to the
      Administrator.</p>
    <br>
    <u>Important Notice</u>
    <p>This Lease Co-Guarantee is a guarantee and not an insurance policy or benefit.</p>
    <p>Pensio Tenants Corp. is a participating member of Rentalis Insurance Company Inc, (“Rentalis”),
      a protected Cell Captive insurance company. Pensio Tenants self-procured an indemnity in the form of a surety
      “performance bond” to secure Pensio Tenant’s performance to You pursuant to the Lease Co-Guarantee Agreement.
      Rentalis is one hundred percent reinsured by reinsurers within the Lloyd’s Market and/or Global Reinsurers
      rated AM Best A or Better pursuant to the Performance Bond where You are in the named Obligee.</p>
    <p>If You do not understand the above disclosure in whole or in part, You are not encouraged to enter into the
      Agreement with Pensio. You are further encouraged to speak to any professional advisor and to seek independent
      legal advice before entering in the Agreement. This program is subject to several territorial
      restrictions and may only be used in such locations where permitted by law.</p>
  </div>
</div>

</body>
</html>
